<% layout('layout'); %>
        <div class="common-title">Profile</div>
        <div class="profile-wrapper">
            <div class="profile-main clearfix">
                <div class="profile-img">
                    <img src="/images/profile/profile_thumb.png" alt="">
                </div>
                <ul class="profile-list">
                    <li class="profile-item">
                        <div class="profile-item-title">名前</div>
                        <div class="profile-item-content">湯浅 葉月(ゆあさ はづき)</div>
                    </li>
                    <li class="profile-item">
                        <div class="profile-item-title">生年月日</div>
                        <div class="profile-item-content">1989年11月8日 26歳</div>
                    </li>
                    <li class="profile-item">
                        <div class="profile-item-title">性格</div>
                        <div class="profile-item-content">おっとり</div>
                    </li>
                    <li class="profile-item">
                        <div class="profile-item-title">好きなもの</div>
                        <div class="profile-item-content">プログラミング、ねこ</div>
                    </li>
                    <li class="profile-item">
                        <div class="profile-item-title">はまってるもの</div>
                        <div class="profile-item-content">ファミマのシュークリーム、フクロウカフェ、jQuery</div>
                    </li>
                </ul>
                <ul class="profile-list-second">
                    <li class="profile-item">
                        <div class="profile-item-title">目標</div>
                        <div class="profile-item-content">早く一人前のWEBエンジニアになる<br>人の目に留まる、心に残るサイト制作に携わりたい！</div>
                    </li>
                    <li class="profile-item">
                        <div class="profile-item-title">職歴</div>
                        <div class="profile-item-content">2010年3月に神田外語学院専門学校を卒業後、セコムジャスティック株式会社に入社。自分で何かをつくりたい、手がけたいという思いから一念発起して2016年1月、5年半務めた会社を退職。<br>学生時代、自身が所属していたバンドのサイトをつくっていたのが非常に楽しかったことを思い出し、改めてWEB制作に興味を持ち始めた。最近ではHTML・CSSから始めjQuery・Node.js・PHP・MySQLをただいま絶賛お勉強中。</div>
                    </li>
                </ul>
            </div>
            <div class="modal-show-wrapper">
                <p class='modal-show'>MORE!</p>
            </div>
            <div class="modal" style="display: none">
                <div class="modal-content">
                    <div class="mdal-text">
                        <ul class="modal-list">
                            <li class="modal-item">
                                <p class="modal-item-title">HTML</p>
                                <p class="modal-item-content">基本的なマークアップができる。</p>
                            </li>
                            <li class="modal-item">
                                <p class="modal-item-title">CSS</p>
                                <p class="modal-item-content">基本的なマークアップができる。</p>
                            </li>
                            <li class="modal-item">
                                <p class="modal-item-title">PhotoShop</p>
                                <p class="modal-item-content">画像の切り抜き、編集などマークアップに必要な基本的なことができる。</p>
                            </li>
                            <li class="modal-item">
                                <p class="modal-item-title">JavaScript</p>
                                <p class="modal-item-content">まだまだお勉強中。配列やオブジェクトなどの基本的知識と簡単な実装ができる。</p>
                            </li>
                            <li class="modal-item">
                                <p class="modal-item-title">jQuery</p>
                                <p class="modal-item-content">スライドショー、モーダルウィンドウ、スクロールボタンなどの基本的実装ができる。<br>教科書は西畑一馬さん著のjQueryデザイン入門、八次悟郎さん著のjQueryテクニカルノート。<br>最近は汎用性の高いコードを書けるようになることが目標。</p>
                            </li>
                            <li class="modal-item">
                                <p class="modal-item-title">Node.js</p>
                                <p class="modal-item-content">実際にWEBサイトを３つ製作。<br>画像のアップロードなどいくつかのモジュールが使用できる。
                                </p>
                            </li>
                            <li class="modal-item">
                                <p class="modal-item-title">PHP</p>
                                <p class="modal-item-content">基本的な知識。get,postができる</p>
                            </li>
                        </ul>
                        <button type="button" class="modal-close">X</button>
                    </div>
                </div>
            </div>
            <canvas id="canvas" height="350" width="auto"></canvas>
        </div>

