<% layout('layout'); %>
        <div class="common-title">Profile</div>
        <div class="profile-wrapper">
            <div class="profile-main clearfix">
                <div class="profile-img">
                    <img src="/images/profile/profile_thumb.png" alt="">
                </div>
                <ul class="profile-list">
                    <li class="profile-item">
                        <div class="profile-item-title">名前</div>
                        <div class="profile-item-content">湯浅 葉月(ゆあさ はづき)</div>
                    </li>
                    <li class="profile-item">
                        <div class="profile-item-title">生年月日</div>
                        <div class="profile-item-content">1989年11月8日 26歳</div>
                    </li>
                    <li class="profile-item">
                        <div class="profile-item-title">性格</div>
                        <div class="profile-item-content">おっとり</div>
                    </li>
                    <li class="profile-item">
                        <div class="profile-item-title">好きなもの</div>
                        <div class="profile-item-content">プログラミング、ねこ</div>
                    </li>
                    <li class="profile-item">
                        <div class="profile-item-title">目標</div>
                        <div class="profile-item-content">早く一人前のWEBエンジニアになって、人の目に留まる、心に残るサイトをつくりたい！</div>
                    </li>
                    <li class="profile-item">
                        <div class="profile-item-title">職歴</div>
                        <div class="profile-item-content">2010年3月に神田外語学院専門学校を卒業後、セコムジャスティック株式会社に入社。自分で何かをつくりたい、手がけたいという思いから一念発起して2016年1月、5年半務めた会社を退職。<br>学生時代、自身が所属していたバンドのサイトをつくっていたのが非常に楽しかったため、WEBに興味を持ち、HTML・CSSから始めjQuery・Node.js・PHP・MySQLをただいま絶賛お勉強中。</div>
                    </li>
                </ul>
            </div>
            <!-- <div class="profile-sub">
                <div class="profile-sub-list">
                    <div class="profile-sub-title">HTML</div>
                    <div class="profile-sub-content">★★★★★</div>
                </div>
                <div class="profile-sub-list">
                    <div class="profile-sub-title">CSS</div>
                    <div class="profile-sub-content">★★★★★</div>
                </div>
                <div class="profile-sub-list">
                    <div class="profile-sub-title">PhotoShop</div>
                    <div class="profile-sub-content">★★</div>
                </div>
                <div class="profile-sub-list">
                    <div class="profile-sub-title">JavaScript</div>
                    <div class="profile-sub-content">★</div>
                </div>
                <div class="profile-sub-list">
                    <div class="profile-sub-title">JQuery</div>
                    <div class="profile-sub-content">★★</div>
                </div>
                <div class="profile-sub-list">
                    <div class="profile-sub-title">Node.js</div>
                    <div class="profile-sub-content">★★★</div>
                </div>
            </div> -->
            <canvas id="canvas" height="350" width="auto"></canvas>
        </div>


