        <% layout('layout'); %>
        <div class="works-wrapper">
            <div class="common-title">Works</div>
            <ul>
                <li class="works-item ">
                    <a href="#" class="works-item-img-wrapper"><div class="works-item-img works-item-tassel"></div></a>
                    <div class="works-item-data">
                        <p class="works-item-title">サイト名: <a href="">Tassel</a></p>
                        <p class="works-item-content">
                            おすすめの小説を紹介するサイト<br>Node.jsで実装<br>
                        </p>

                    </div>
                </li>
                <li class="works-item">
                    <a href="#" class="works-item-img-wrapper"><div class="works-item-img works-item-quotations"></div></a>
                    <div class="works-item-data">
                        <p class="works-item-title">サイト名: <a href="http://8zk.click/">Quotations</a></p>
                        <p class="works-item-content">
                            そのときの気分に合わせた漫画の名言を提供するサイト<br>Node.jsで実装<br>
                        </p>
                    </div>
                </li>
            </ul>
        </div>

